<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <!-- model  -->

    <form action="" method="post" style="width: 50%; margin: auto">
      <h2>Edit your Details</h2>
      {% csrf_token %}
      <!-- form > -->
      {{form.as_p}}
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
